.farming-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Takes full grid cell width */
  height: 100%; /* Ensures consistency across items */
  max-width: 300px; /* Optional max size constraint */
  box-sizing: border-box; /* Ensures padding and borders are included in size */
  border-radius: 8px;
  background-color: var(--sage-green);
  border: 2px solid var(--dark-navy);
  box-shadow: 0 4px 0 0 var(--dark-navy);
  padding: 1px;
}

.farming-item-level {
  padding: 3px;
  font-size: 8px;
}

.farming-item-inner-container {
  padding: 16px;
  background-color: var(--pine-green);
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 8px;
}

.farm-item-header {
  color: var(--cream-white);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.farm-item-name {
  font-size: 11px;
  font-weight: bold;
}

.farm-item-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  padding: 0 4px;
}

.farm-item-exp {
  flex: 1;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  background-color: var(--sage-green);
  padding: 4px 6px;
  border-radius: 5px;
}

.farm-item-duration-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center; /* Vertically align content */
  justify-content: center; /* Align content to the end of the container */
  background-color: var(--sage-green);
  padding: 4px 6px;
  border-radius: 5px;
}

.farm-item-duration-container img {
  height: 12px;
  width: auto;
}

.farm-item-duration {
  font-size: 8px;
  text-align: left; /* Ensure the duration text aligns to the right */
}

.farm-item-img-container {
  width: 100%;
  padding: 18px 15px 3px 10px;
}

.farm-item-img-container img {
  width: 45px;
  height: auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.farm-item-description {
  font-size: 10px;
  color: #7f8c8d;
  text-align: center;
}

.farm-item-name,
.farm-item-description {
  text-align: center;
  word-wrap: break-word; /* Ensure long text wraps correctly */
}

.farm-button {
  padding: 8px 12px;
  font-size: 10px;
  color: var(--cream-white);
  background-color: var(--burnt-orange);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.farm-button.farming-active {
  background-color: var(--deep-warm-red);
}

.farm-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.farm-button:not(:disabled):active {
  transform: translateY(0.5px);
}
