.skill-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--sage-green);
  border-radius: 8px;
  gap: 10px;
}

.skill-name {
  background-color: var(--sage-green); 
  padding: 6px 5px;
  border-radius: 4px;
  width: 25%;
  text-align: center;
  font-size: 9px;
  white-space: nowrap;
}

.skill-level {
  text-align: center;
  font-size: 10px;
  flex-grow: 1;
}

.skill-buttons {
  display: flex;
  gap: 12px;
}

.skill-plus-button {
  padding: 4px 8px;
  border: 1px solid var(--sage-green);
  border-radius: 4px;
  font-size: 12px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Enabled button */
.skill-plus-button:enabled {
  background-color: var(--sage-green);
  border: 1px solid var(--sage-green);
  color: var(--cream-white);
  cursor: pointer;
}

.skill-plus-button:enabled:active {
  transform: translateY(1px);
}

/* Disabled button */
.skill-plus-button:disabled {
  background-color: transparent;
  color: var(--sage-green);
  cursor: not-allowed;
  opacity: 0.5;
}