.slime-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 var(--dark-navy);
  border: 2px solid var(--dark-navy);
  font-family: "PixelOperatorMono8", "Impact", sans-serif;
  color: var(--cream-white);
  outline: none;
  animation: slide-up 0.25s ease-in-out forwards;
  user-select: none;
}

.slime-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slime-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  padding: 30px;
  background: var(--forest-green);
  border: 2px solid var(--bright-teal);
  border-radius: 7px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: rgba(136, 136, 136, 0.5) transparent;
  scroll-behavior: smooth;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.slime-modal-content::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}
.slime-modal-content::-webkit-scrollbar-track {
  background-color: transparent;
}
.slime-modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.3);
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}
.slime-modal-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(85, 85, 85, 0.8);
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bolder;
}
.close-modal-button:active {
  background: #ff1a1a;
}

.slime-image-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}
.slime-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 30px;
}

.slime-info-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 10px;
  gap: 3px;
}
.slime-info-row img {
  height: 14px;
}
.slime-info-id {
  text-align: center;
  font-weight: bold;
}
.slime-info-gen {
  text-align: center;
}

.equip-slime-button-container,
.set-breed-slime-button-container {
  display: flex;
  justify-content: center;
}

.equip-slime-button,
.set-breed-slime-button {
  padding: 8px 12px;
  font-size: 9px;
  color: var(--cream-white);
  background-color: var(--steel-blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.set-breed-slime-button {
  background-color: var(--burnt-orange);
}

.equip-slime-button:disabled,
.set-breed-slime-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.equip-slime-button:not(:disabled):active,
.set-breed-slime-button:not(:disabled):active {
  transform: scale(0.98);
}

.slime-traits {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5px;
}

.trait-table-container {
  background-color: var(--sage-green);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.7px;
}

.trait-table-label {
  background-color: var(--sage-green);
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 9px;
  padding: 3px;
}

.trait-table {
  width: 100%;
  border-radius: 0 0 10px 10px;
  border-collapse: collapse;
  background-color: var(--medium-teal);
  overflow: hidden;
}

.trait-table th,
.trait-table td {
  text-align: center;
  font-size: 8px;
  padding: 5px;
}

.trait-table th:nth-child(2),
.trait-table td:nth-child(2) {
  width: auto;
  white-space: normal;
  word-break: break-word;
}

.trait-table tbody tr:nth-child(odd) {
  background-color: var(--light-teal);
}

.trait-rarity {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}
