#slime-lab-breeding-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 25px 30px;
  box-sizing: border-box;
  width: 100%;
  gap: 15px;
}

.breeding-dropdown-row {
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 800px;
}

.breeding-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* Box for slime preview */
.slime-preview-box {
  min-width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.slime-preview-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  padding: 20px;
}

.slime-placeholder {
  width: 100%;
  height: 100%;
  background-color: var(--rarity-d);
  border-radius: 10px;
}

.slime-to-breed-id {
  font-size: 10px;
  max-width: 100%;
}

.slime-generation {
  color: var(--rarity-d);
  font-size: 9px;
}

.breed-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.breed-button {
  padding: 10px 16px;
  font-size: 8px;
  color: #fff;
  background-color: var(--bright-cyan);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  height: 100%;
}

.breed-button-red {
  background-color: #e74c3c;
}

.breed-duration-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.breed-duration-container img {
  height: 12px;
}

.breed-duration-text {
  font-size: 10px;
}

.child-trait-table-para {
  color: var(--cream-white);
  font-weight: bolder;
  border: 1.8px solid var(--sage-green);
  background-color: var(--medium-teal);
  border-radius: 10px;
  padding: 14px;
  text-align: left;
  font-size: 9px;
}

.child-trait-probabilities-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.child-trait-type-title {
  background-color: var(--sage-green);
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 9px;
  padding: 3px;
}

.child-trait-table-wrapper {
  background-color: var(--sage-green);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.7px;
}

.child-trait-table {
  width: 100%;
  table-layout: fixed; /* Ensures fixed-width columns */
  border-radius: 0 0 10px 10px;
  border-collapse: collapse;
  background-color: var(--medium-teal);
  overflow: hidden;
}

.child-trait-table th,
.child-trait-table td {
  text-align: center;
  font-size: 8px;
  padding: 5px;
  word-wrap: break-word; /* Break words when necessary */
  overflow-wrap: break-word; /* Handles word wrapping for modern browsers */
}

.child-trait-table th:nth-child(1), /* "Trait" column */
.child-trait-table td:nth-child(1) {
  width: 55%; /* Proportionately wider for the "Name" column */
}

.child-trait-table th:nth-child(2), /* "Rarity" column */
.child-trait-table td:nth-child(2) {
  width: 25%; /* Fixed width for "Rarity" */
}

.child-trait-table th:nth-child(3), /* "Probability (%)" column */
.child-trait-table td:nth-child(3) {
  width: 20%; /* Fixed width for "%" */
}

.child-trait-table tbody tr:nth-child(odd) {
  background-color: var(--light-teal); /* Alternate row color */
}