.farming-page-container {
  align-items: center;
  color: var(--cream-white);
  gap: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stats-sticky {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  background-color: var(--deep-teal);
  z-index: 5;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category-buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.category-buttons {
  display: flex;
  gap: 14px;
  width: max-content;
  padding: 14px 14px 0 8px;
}

.category-button {
  font-size: 10px;
  border: 1.5px solid var(--sage-green);
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 2px;
}

.category-button.active {
  background-color: var(--sage-green);
}

.farming-items-container {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  width: 100%;
  padding: 0 18px 18px 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.farming-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: stretch;
}

.farming-item-wrapper {
  width: 100%;
}

.farming-item-wrapper.single-item {
  grid-column: span 1;
  justify-self: start;
}

.farming-item-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.category-buttons-scrollbar {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 10px 10px 10px;
}

.category-buttons-scrollbar .simplebar-scrollbar::before {
  background-color: rgba(136, 136, 136, 0.3);
  border-radius: 3px;
  transition: background-color 3s ease-in-out;
}

.category-buttons-scrollbar .simplebar-scrollbar:hover::before {
  background-color: rgba(85, 85, 85, 0.8);
}

.category-buttons-scrollbar .simplebar-track.simplebar-horizontal {
  height: 9px;
  background: transparent !important;
}

.category-buttons-scrollbar .simplebar-track {
  background: transparent !important;
}
