#slime-lab-container {
  position: relative;
  width: 100%;
  min-height: 100%; /* Fill the viewport height */
  display: flex;
  flex-direction: column;
}

/* Tabs */
.slime-lab-tabs {
  display: flex;
  justify-content: center;
  width: 220px;
  margin: 20px auto;
  margin-top: 10px;
  color: var(--cream-white);
}

.tab-button {
  padding: 5px 0;
  font-size: 9px;
  border: 1.5px solid var(--light-teal);
  cursor: pointer;
  text-align: center;
  color: var(--light-teal);
  flex: 1;
}

.tab-button.active {
  background-color: var(--light-teal);
  color: var(--cream-white);
}

.tab-content {
  flex-grow: 1; /* Stretch to fill remaining space */
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
