.slime-lab-root {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 25px;
}

.slime-lab-inventory-wrapper {
  padding: 2px;
  width: 90%;
  background-color: var(--bright-teal);
  border-radius: 12px;
  border: 2px solid var(--dark-navy);
  box-shadow: 0 4px 0 0 var(--dark-navy);
}

#slime-lab-inventory-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 18px;
  background-color: var(--forest-green);
  border-radius: 0 0 9px 9px;
}

.slime-lab-inventory-header {
  font-size: 10px;
  padding: 2px;
  cursor: pointer; /* Makes the header appear clickable */
}

.slime-inventory-item {
  border: 1px solid var(--bright-teal);
  border-radius: 9px;
  padding: 16px;
  background-color: var(--muted-teal);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 0;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  cursor: pointer;
}

.slime-inventory-item.empty {
  background-color: transparent;
  border: 1px dashed var(--bright-teal);
  cursor: default;
}

.slime-inventory-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  flex-shrink: 1;
}

.slime-inventory-item:active {
  transform: translateY(2px);
}

.slime-inventory-item.empty:active {
  transform: none;
}

.equipped-slime {
  border: 2px solid #4caf50;
}

.slime-name-container {
  padding-top: 8px;
  padding-bottom: 0;
  width: 100%;
  text-align: left;
}

.slime-name {
  font-weight: bold;
  font-size: 9px;
  color: var(--cream-white);
}