#inventory-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.inv-container-label {
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: var(--cream-white);
  background-color: var(--deep-teal);
  border-radius: 9px 9px 0 0;
}

.balances-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  font-size: 11px;
  color: var(--cream-white);
}

.coin-balance {
  display: flex;
  align-items: center;
  gap: 8px;
}

.coin-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.inventory-page-content-wrapper {
  width: 100%;
  background-color: var(--bright-teal);
  border-radius: 12px;
  border: 2px solid var(--dark-navy);
  box-shadow: 0 4px 0 0 var(--dark-navy);
  padding: 1px;
  box-sizing: border-box;
}

.inventory-page-content-container {
  display: flex;
  flex-direction: column;
  background-color: var(--forest-green);
  border-radius: 11px;
  width: 100%;
  height: 100%;
}

.inventory-rows-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between rows */
  padding: 15px;
  align-items: center; /* Center rows horizontally */
  justify-content: center;
}

.inventory-row {
  display: flex;
  justify-content: space-around;
  gap: 10px; /* Space between items */
  width: 100%;
}

.inventory-item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--dark-teal-green);
  border: 1px solid var(--bright-teal);
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.inventory-item.empty {
  background-color: var(--dark-teal-green);
  border: 1px dashed var(--bright-teal); /* Dashed border for empty slots */
  transition: none;
  cursor: auto;
}

.inventory-item:active {
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.inventory-item.empty:active {
  transform: none;
  box-shadow: none;
}

.inv-item-image {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.inv-item-image.empty {
  opacity: 0.3; /* Dim the placeholder image for empty slots */
}

.inv-item-quantity {
  position: absolute;
  bottom: -10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 7px;
  padding: 4px 4px;
  border-radius: 50px;
}

/* MODAL STYLES */

.inventory-item-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fade-in 0.3s ease-in-out forwards;
}

.inventory-item-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 90%;
  max-height: 85%;
  overflow-y: scroll;
  background: transparent; /* Transparent to expose the inner border */
  border-radius: 10px; /* Outer border rounded corners */
  box-shadow: 0 4px 0 0 var(--dark-navy);
  border: 2px solid var(--dark-navy); /* Outer border color */
  font-family: "PixelOperatorMono8", "Impact", sans-serif;
  color: var(--cream-white);
  outline: none;

  animation: slide-up 0.25s ease-in-out forwards;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.modal-border-container {
  background: var(--forest-green); /* Inner background color */
  border: 2px solid var(--bright-teal); /* Outer border color */
  border-radius: 7px; /* Match the outer radius */
}

.modal-content {
  text-align: center;
}

.item-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--muted-teal-green);
  border-radius: 5px 5px 0 0;
  padding: 0 15px;
  align-items: center;
  gap: 5px;
}

.item-icon {
  width: auto;
  height: 35px;
  margin: 10px 0;
}

.equipment-icon {
  width: auto;
  height: 25px;
  margin: 15px 0;
  margin-right: 2px;
}

.inv-modal-header-name {
  height: 100%;
  font-size: 12px;
  width: 80%;
  text-align: left;
  text-overflow: wrap;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.item-image-container {
  border: 3px solid var(--bright-teal); /* Outer border color */
  background-color: var(--cream-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  width: 55%;
  position: relative;
}

.rarity-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px 8px;
  border-radius: 8px; /* Rounded corners for the badge */
  font-size: 10px; /* Adjust size for readability */
  font-weight: bold;
  color: #f4f1de; /* Cream white for text */
  text-transform: uppercase; /* Make the rarity text uppercase */
}

.item-image {
  width: 75%;
}

.inv-modal-item-description-container {
  border: 1.5px solid var(--bright-teal); /* Outer border color */
  padding: 5px;
  border-radius: 8px;
  background-color: var(--deep-teal);
  padding: 10px;
  font-size: 9px;
  text-align: left;
}

.inv-modal-item-description {
  text-align: left;
  font-size: 10px;
}

.close-inventory-modal-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--burnt-orange);
  color: white;
  border: none;
  padding: 3px 6px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.close-inventory-modal-button:active {
  transform: scale(1.05);
}

.inv-buttons-div {
  margin-bottom: 20px;
}

.equip-button {
  padding: 8px 12px;
  font-size: 10px;
  color: var(--cream-white);
  background-color: var(--burnt-orange);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.equip-button.equip-active {
  background-color: var(--deep-warm-red);
}

.equip-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.equip-button:not(:disabled):active {
  transform: translateY(0.5px);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    top: 100%; /* Start at the bottom of the screen */
    transform: translate(-50%, 0); /* No vertical adjustment at the start */
  }
  to {
    top: 50%; /* Move to the center of the screen */
    transform: translate(
      -50%,
      -50%
    ); /* Adjust to center vertically and horizontally */
  }
}

/* Styles for WebKit-based browsers */
.inventory-item-modal::-webkit-scrollbar {
  width: 3px; /* Narrow width for the scrollbar */
  background-color: transparent; /* Fully transparent background */
}

.inventory-item-modal::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track, makes it unnoticeable */
}

.inventory-item-modal::-webkit-scrollbar-thumb {
  background-color: rgba(
    136,
    136,
    136,
    0.3
  ); /* Semi-transparent thumb for minimal visibility */
  border-radius: 3px; /* Slightly rounded corners for the scrollbar thumb */
  transition: background-color 0.3s ease-in-out; /* Add smooth transition for background color */
}

.inventory-item-modal::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    85,
    85,
    85,
    0.8
  ); /* Darker color on hover for better visibility */
}

/* Firefox scrollbar styles */
.inventory-item-modal {
  scrollbar-width: thin;
  scrollbar-color: rgba(136, 136, 136, 0.5) transparent; /* Same colors as above for consistency */
  scroll-behavior: smooth;
}
