.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--cream-white);
  background-color: var(--deep-teal);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 12;
}

.sidebar.open {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--cream-white);
  font-size: 24px;
  cursor: pointer;
}

.dq-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px 10px 20px;
}

.dq-icon {
  height: 90px;
}

.dq-icon-buttons {
  display: flex;
  gap: 10px;
}

.dq-icon-button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 1px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.sidebar ul li {
  margin: 10px 0;
  text-align: left;
  display: flex;
  align-items: center; /* Vertically center icon and text */
}

.sidebar ul li a {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center; /* Align icon and text */
  gap: 10px; /* Add space between icon and text */
  font-size: 12px;
}

.sidebar-icon {
  height: 28px; /* Set icon height */
  width: 28px;
  width: auto; /* Maintain aspect ratio */
  display: inline-block;
}

.gap {
  margin-bottom: 45px; /* Adds gap between Shop and the rest of the items */
}

.sidebar-scrollbar .simplebar-scrollbar::before {
  background-color: rgba(136, 136, 136, 0.3);
  border-radius: 3px;
  transition: background-color 3s ease-in-out;
}

.sidebar-scrollbar .simplebar-scrollbar:hover::before {
  background-color: rgba(85, 85, 85, 0.8);
}

.sidebar-scrollbar .simplebar-track.simplebar-horizontal {
  height: 9px;
  background: transparent !important;
}

.sidebar-scrollbar .simplebar-track {
  background: transparent !important;
}
